<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body{
            height: 100vh;
            color:#fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1{
            font-size: 80px;
        }
        div{
            text-align: center;
        }
        a{
            color:#fff;
            background-color: #2666CF;
            border-radius: 5px;
            padding: 5px 8px;
            text-decoration: none;
        }
        a:hover{
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <div>
    <h1>Opss 404</h1>
    <h2>This page is not exist on the server.</h2>
    <a href="/">Go Back To Home</a>    
    </div>
</body>
</html>