<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/plug'); %>
    <title>Compose</title>
</head>
<body>
    <div class="top">
    <%- include('partials/header'); %>
      </div>
<div class="container">
    <main>
        <form action="compose" method="post">
      <h1>Compose</h1> <br>
      <div class="input-group">
        <span class="input-group-text">Title</span>
        <input id="ptitle" class="form-control" aria-label="With textarea" name="posttitle">
        </div>
        <br>
        <div class="input-group">
        <span class="input-group-text">Type Here</span>
        <textarea id="ptext" class="form-control" aria-label="With textarea" name="posttext"></textarea>
        <button type="submit" class="btn btn-success" name="" onclick="compose()">Post</button>
    </div>
    </form>
      </main>
  </div>
<div class="bottum">
  <%- include('partials/footer'); %>
  </div>
</body>
</html>