@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    color: #fff;
    background-color: #191A19;
    font-family: 'Poppins', sans-serif;
}
.top{
    position:relative;
    width: 100%;
    top: 0;
}
.bottum{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.fs-4{
    color:#fff;
}
.nav-item:hover{
    opacity: 0.8;
}
.nav-link{
    color:#fff;
}
.btn-success{
    padding: 0 80px;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size: 12px;
    color: yellowgreen;
}
a:hover{
    color: yellow;
}
.nav-link:hover{
    color: yellow;
}